<div class="card">
  <div class="card-body">
    <app-spinner [loading]="loading"></app-spinner>

    <div class="card-text row" *ngFor="let fixture of fixtures">
      <div class="col-md-2">
        <img [src]="fixture.teams.home.logo" class="logo" />
      </div>
      <div class="col-md-3">{{ fixture.teams.home.name }}</div>
      <div class="col-md-2">
        {{ fixture.goals.home }} - {{ fixture.goals.away }}
      </div>
      <div class="col-md-3">{{ fixture.teams.away.name }}</div>
      <div class="col-md-2">
        <img [src]="fixture.teams.away.logo" class="logo" />
      </div>
    </div>
  </div>
  <a routerLink="/" class="btn btn-primary backbtn" *ngIf="!loading">Back</a>
</div>
